<div class="row justify-content-center">
  <h2>CHOOSE AN ITEM</h2>
</div>
<div class="card-container">
  <% @items.each do |item| %>
    <%= link_to item, class: 'text-decoration-none' do %>
      <div class="card-category">
        <div class="symbol align-self-center">
          <%= item.symbol %>
        </div>
        <div class="align-self-center">
          <p class="text-align-center"><%= item.name.upcase %></p>
        </div>
      </div>
    <% end %>
  <% end %>
  <%= link_to new_item_path, class: 'text-decoration-none' do %>
    <div class="card-category create">
      <div class="symbol align-self-center">
        📦
      </div>
      <div class="align-self-center">
        YOUR OWN ITEM
      </div>
    </div>
  <% end %>
</div>
