<div class="row col-12 justify-content-center">
<h2>CHOOSE AN ITEM</h2>
</div>
<div class="row">
<% @items.each do |item| %>
<%= link_to item, class: 'text-decoration-none' do %>
<div class="card">
<div class="card-header">
<%= item.symbol %> 
</div>
  <div class="card-body">
    <%= item.name.upcase %>
  </div>
</div>
    <% end %>

<% end %>
<li><%= link_to "YOUR OWN ITEM", new_item_path %></li>
</div>
