<h2>CHOOSE AN ITEM</h2>
<% @items.each do |item| %>
  <li>
    <%= link_to item do %>
      <%= item.name.titleize %>
    <% end %>
  </li>
<% end %>
<li><%= link_to "Your Own Item", new_item_path %></li>
