<h2>YOU CHOSE</h2>
<%= @item.name %>

<h3>WHAT'S THAT IN...</h3>
<li><%= link_to "ðŸ‘ BUTTLOADS", calculate_path(@item, measure: 'butt'), method: :post %></li>
<li><%= link_to "ðŸ’© SHITLOADS", calculate_path(@item, measure: 'shit'), method: :post %></li>
<li><%= link_to "ðŸš½ FLUSHLOADS", calculate_path(@item, measure: 'flush'), method: :post %></li>