<h2>YOU CHOSE</h2>
<%= @item.name %>

<h3>WHAT'S THAT IN...</h3>
<li><%= link_to "BUTTLOADS", calculate_url(@item, measure: 'butt') %></li>
<li><%= link_to "SHITLOADS", calculate_url(@item, measure: 'shit') %></li>