.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  .card-category {
    min-height: 5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
    border-radius: 30px;
    color: black;
    border: 10px solid black;
    font-size: 24px;
    padding: 1em;
    .symbol {
      font-size: 48px;
    }
    .item-name {
      min-height: 3em;
    }
  }  
  .create {
    border: 10px dashed black;
  }
  .color-1 { background-color: #ff3366;}
  .color-2 { background-color: #ff6633;}
  .color-3 { background-color: #FFCC33;}
  .color-4 { background-color: #33FF66;}
  .color-5 { background-color: #33FFCC;}
  .color-6 { background-color: #33CCFF;}
  .color-7 { background-color: #3366FF;}
  .color-8 { background-color: #6633FF;}
  .color-9 { background-color: #CC33FF;}
  .color-10 { background-color: #efefef;}
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}