.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  .card-category {
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: space-around;
    border-radius: 30px; 
    border: 10px solid black;
    font-size: 24px;
    padding: 1em;
    .symbol {
      font-size: 48px;
    }
    .color-1 { background-color: #df494e;}
    .color-2 { background-color: #68a5b7;}
    .color-3 { background-color: #8f978e;}
    .color-4 { background-color: #d8b6ad;}
    .color-5 { background-color: #677b94;}
    .color-6 { background-color: #677b94;}
    .color-7 { background-color: #66be98;}
    .color-8 { background-color: #fcd06d;}
    .color-9 { background-color: #f8a427;}
    .color-10 { background-color: #d42b14;}
  }  
  .create {
    border: 10px dashed black;
  }
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}